body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Microsoft YaHei", Arial;
}

body, html {
    overflow-x: hidden;
    background-color: #f5f5f5;
}

ul, ol, dl, dt, dd {
    list-style: none;
}

a {
    text-decoration: none;
}

image {
    border: 0;
}

/*************************/

.header {
    background-color: #eeeeee;
    width: 100%;
}

.head_cen {
    width: 1201px;
    height: 63px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #eeeeee;
}

.head_cen span {
    line-height: 63px;
    font-size: 16px;
    padding-left: 10px;
}

.head_cen .head_rig {
    float: right;
    font-size: 16px;
    color: black;
    margin-right: 10px;
    margin-top: 21px;
}

.head_cen .head_rig:hover {
    color: #ff952d;
    /*text-decoration: underline;*/
}

.footer {
    width: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}

.foot_cen {
    width: 1201px;
    margin: 20px auto 0;
    text-align: center;
}

.foot_cen p a {
    color: #3f3b3c;
    font-size: 14px;
    padding: 1px 35px 1px 34px;
    border-right: 1px dashed #3f3b3c;
}

.foot_cen p a:last-of-type {
    border-right: 0;
}

.foot_cen p a:hover {
    text-decoration: underline;
}

.foot_cen ul {
    margin-left: 306px;
}

.foot_cen ul li {
    float: left;
    padding: 20px 20px 32px 0;
    font-size: 14px;
}

