#introduction {
    font-size: 20px;
    font-weight: bold;
    color: #ff932c;
}

.container {
    width: 1261px;
    margin: 0 auto;
}

.position {
    width: 1261px;
    height: 70px;
    border-bottom: 2px solid #eeeeee;
    overflow: hidden;
}

.posit-min {
    height: 24px;
    margin-top: 23px;
    border-left: 10px solid #8bd1f3;
}

.posit-min a, .posit-min span {
    font-size: 13px;
    color: #000;
}

.posit-min a:hover {
    color: #ff932c;;
}

.posit-min span {
    padding-left: 30px;
}

.content {
    padding: 110px 50px;
}

.content h3 {
    color: #0056a3;
    font-size: 24px;
    text-align: center;
}
.content p{
    font-size: 14px;
    text-indent:2em;
    line-height: 20px;
    margin-top: 30px;
}