
.content {
    width: 100%;
    background-color: #f5f5f5;
}

.content_c {
    width: 1201px;
    margin: 0 auto;
    overflow: hidden;
}

.content_top {
    height: 102px;
    background-color: #f5f5f5;

}

.reg_logo {
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}

.reg_logo_tex {
    float: right;
    margin-top: 60px;
}

.reg_logo_tex a {
    font-size: 16px;
    padding: 0 10px;
}

.reg_logo_tex span {
    color: #818181;
}

.reg_logo_tex a:nth-of-type(1) {
    color: #818181;;
}

.reg_logo_tex a:nth-of-type(2) {
    color: #bcbcbc;
}

.login_container {
    background-color: #fcae63;
}

.login_center {
    width: 1201px;
    height: 572px;
    position: relative;
    margin: 0 auto;
}

.bgimg_box {
    width: 1201px;
    /*overflow: hidden;*/
}

.bgimg_box img {
    margin-left: -360px;
}

.log_inp_box {
    height: 455px;
    width: 355px;
    background: white;
    position: absolute;
    top: 50px;
    left: 770px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px #fb9b4e;
}

.log_inp_box p {
    margin-left: 50px;
    margin-top: 12px;
}

.log_inp_box p b {
    font-size: 23px;
    color: #ff942f;
    display: inline-block;
}

.log_inp_box p a {
    font-size: 13px;
    color: #989898;
    display: inline-block;
    margin-left: 210px;
    border-bottom: 1px solid #989898;
}

.log_container {
    display: none;
}

.log_visibility {
    display: block;
}

.log_username, .log_userpwd, .log_usercode {
    width: 205px;
    height: 43px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    box-shadow: 3px 3px 5px #e6e6e6 inset;
    margin-left: 50px;
    margin-top: 15px;
    padding-left: 55px;
    outline: none;
}

.log_username {
    background: url("../images/dl-2.png") no-repeat 14px 8px;
}

.log_username2 {
    background: url("../images/d-04.png") no-repeat 10px 8px;

}

.log_userpwd {
    background: url("../images/dl-3.png") no-repeat 20px 7px;
}

.log_usercode {
    background: url("../images/dl-1.png") no-repeat 20px 12px;
}

.log_code_box {
    margin-left: 50px;
    margin-top: 20px;
}

.log_code {
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #dbdbdb;
}

.log_code_box a {
    display: inline-block;
    margin-left: 20px;
    vertical-align: 100%;
    font-size: 13px;
    color: #999;
    border-bottom: 1px solid #999;
}

.log_btn {
    display: block;
    width: 262px;
    height: 42px;
    background-color: #ff952d;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    letter-spacing: 15px;
    padding-left: 15px;
}

.rem {
    height: 10px;
    width: 10px;
}

.rem_box {
    font-size: 12px;
    margin-top: 20px;
    margin-left: 55px;
}

.rem_box span {
    vertical-align: 10%;
}

.rem_box input, .rem_box a, .rem_box span {
    display: inline-block;
}

.rem_box input {
    padding-left: 10px;
}

.rem_box span {
    padding: 0 28px 0 2px;

}

.rem_box a {
    vertical-align: 10%;
    color: #ff952d;
    border-bottom: 1px solid #ff952d;
}

.log_inp_box h3 {
    background-color: #fea144;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.log_change_b {
    float: left;
    color: white;
    width: 177.5px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.log_inp_box .btn_bgcolor {
    background-color: white;
    color: #ff952f;
}